.card-stack div{
  background-color: rgba(51, 62, 74, 0.7);
  text-align: center;
  border-radius: 5px;
}
.card-stack img {
  width: 12rem;
}
.card-stack p {
  font-size: 1.5rem;
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 880px) {
  .card-stack img {
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .card-stack img {
    width: 9rem;
  }
  .card-stack p {
    font-size: 1rem;
  }
  .card-stack + .card-stack + .card-stack {
    margin-top: 10px;
  }
}