@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(25, 26, 31, 0.9);
  border-bottom: 0.5px solid #8743cc;
  z-index: 2;
}

nav .logo {
  margin-left: 5vw;
  width: 35px;
}

nav div img {
  width: 35px;
  opacity: 0.9;
  margin-right: 5vw;
}

.container-supreme {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;

  background-color: rgba(25, 26, 31, 1);
}

.container-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-main h1 {
  text-align: center;
  font-size: 4rem;
  color: #f1f1f1;
  font-family: 'Encode Sans', sans-serif;
  letter-spacing: 5px;
  z-index: 2;
}

.container-main h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #f1f1f1;
  font-family: 'Encode Sans', sans-serif;
  letter-spacing: 5px;
}

.container-main hr {
  margin: 1em 5em;
  border: 2px solid #8743cc;
}

.container-main img {
  width: 20rem;
}

.container-about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-about h2 {
  margin-bottom: 5vh;
  font-size: 2rem;
  color: #f1f1f1;
  font-family: 'Encode Sans', sans-serif;
}

.block-color-about {
  width: 90vw;
  border-radius: 5px;
  background-color: rgba(51, 62, 74, 0.7);
  display: flex;
  align-items: center;
  padding: 10px;
}

.block-color-about img {
  width: 15rem;
  border-radius: 5px;
}

.block-color-about p {
  font-size: 1.5rem;
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-left: 40px;
}

.container-stack-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-stack-main h2 {
  margin-bottom: 5vh;
  font-size: 2rem;
  text-align: center;
  color: #f1f1f1;
  font-family: 'Encode Sans', sans-serif;
}

.container-stack-main p{
  color: #f1f1f1;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;

  margin-bottom: 3vh;
}

.block-stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .container-main h1 {
    font-size: 3rem;
  }

  .container-main h2 {
    font-size: 1rem;
  }

  .container-main img {
    width: 15rem;
  }

  .block-color-about p {
    font-size: 1rem;
    max-width: 85vw;
  }
}

@media (max-width: 880px) {
  .block-color-about {
    flex-direction: column;
    align-items: center;
  }

  .block-color-about p {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .container-main {
    flex-direction: column;
  }
}